<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="auth0:ClientId" value="CLIENT_ID" />
    <add key="auth0:Domain" value="YOU.auth0.com" />
    <add key="auth0:Connection" value="YOUR-CONNECTION-NAME" />
    <add key="auth0:CallbackUrl" value="http://YOUR-SP/_trust/" />

    <add key="username" value="john" />
    <add key="password" value="abc" />
    <add key="sharepointUrl" value="http://YOUR-SP" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>